body {
    border: 2px solid;
    margin: 10px 100px;
    padding: 0 30px;
}


#header {
    display: grid;
    grid-template-columns: 30% 70%;
    margin;align-items: center;
    margin: 0 5%;
}

. conteudo-coluna {
    display: grid;
    grid-template-columns: 70% 30%;
}